AnalysisWSAppLabImplService3.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" xmlns:intf="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://SoaplabShare.ebi.embl.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="http://SoaplabShare.ebi.embl.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="SoaplabException">
    <sequence/>
   </complexType>
  </schema>
  <schema targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://SoaplabShare.ebi.embl.org"/>
   <import namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="mapItem">
    <sequence>
     <element name="key" nillable="true" type="xsd:anyType"/>
     <element name="value" nillable="true" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <complexType name="Map">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="apachesoap:mapItem"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://SoaplabShare.ebi.embl.org"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_apachesoap_Map">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="apachesoap:Map[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_soapenc_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <message name="getElapsedResponse">

      <part name="getElapsedReturn" type="xsd:long"/>

   </message>

   <message name="getStatusResponse">

      <part name="getStatusReturn" type="soapenc:string"/>

   </message>

   <message name="getResultSpecResponse">

      <part name="getResultSpecReturn" type="impl:ArrayOf_apachesoap_Map"/>

   </message>

   <message name="runNotifiableRequest">

      <part name="jobID" type="soapenc:string"/>

      <part name="notificationDescriptor" type="soapenc:string"/>

   </message>

   <message name="getEndedResponse">

      <part name="getEndedReturn" type="xsd:long"/>

   </message>

   <message name="getAnalysisTypeResponse">

      <part name="getAnalysisTypeReturn" type="apachesoap:Map"/>

   </message>

   <message name="describeRequest">

   </message>

   <message name="waitForResponse">

   </message>

   <message name="destroyRequest">

      <part name="jobID" type="soapenc:string"/>

   </message>

   <message name="describeResponse">

      <part name="describeReturn" type="soapenc:string"/>

   </message>

   <message name="destroyResponse">

   </message>

   <message name="runRequest">

      <part name="jobID" type="soapenc:string"/>

   </message>

   <message name="getCreatedRequest">

      <part name="jobID" type="soapenc:string"/>

   </message>

   <message name="getInputSpecRequest">

   </message>

   <message name="getAnalysisTypeRequest">

   </message>

   <message name="SoaplabException">

      <part name="fault" type="tns1:SoaplabException"/>

   </message>

   <message name="getSomeResultsRequest">

      <part name="jobID" type="soapenc:string"/>

      <part name="resultNames" type="impl:ArrayOf_soapenc_string"/>

   </message>

   <message name="getSomeResultsResponse">

      <part name="getSomeResultsReturn" type="apachesoap:Map"/>

   </message>

   <message name="getInputSpecResponse">

      <part name="getInputSpecReturn" type="impl:ArrayOf_apachesoap_Map"/>

   </message>

   <message name="getEndedRequest">

      <part name="jobID" type="soapenc:string"/>

   </message>

   <message name="createAndRunRequest">

      <part name="inputs" type="apachesoap:Map"/>

   </message>

   <message name="getStartedResponse">

      <part name="getStartedReturn" type="xsd:long"/>

   </message>

   <message name="getStatusRequest">

      <part name="jobID" type="soapenc:string"/>

   </message>

   <message name="createJobRequest">

      <part name="inputs" type="apachesoap:Map"/>

   </message>

   <message name="getResultSpecRequest">

   </message>

   <message name="waitForRequest">

      <part name="jobID" type="soapenc:string"/>

   </message>

   <message name="getCharacteristicsResponse">

      <part name="getCharacteristicsReturn" type="apachesoap:Map"/>

   </message>

   <message name="getCharacteristicsRequest">

      <part name="jobID" type="soapenc:string"/>

   </message>

   <message name="runResponse">

   </message>

   <message name="terminateRequest">

      <part name="jobID" type="soapenc:string"/>

   </message>

   <message name="getNotificationDescriptorRequest">

      <part name="jobID" type="soapenc:string"/>

   </message>

   <message name="runAndWaitForRequest">

      <part name="inputs" type="apachesoap:Map"/>

   </message>

   <message name="terminateResponse">

   </message>

   <message name="createAndRunNotifiableRequest">

      <part name="inputs" type="apachesoap:Map"/>

      <part name="notificationDescriptor" type="soapenc:string"/>

   </message>

   <message name="getNotificationDescriptorResponse">

      <part name="getNotificationDescriptorReturn" type="soapenc:string"/>

   </message>

   <message name="getLastEventRequest">

      <part name="jobID" type="soapenc:string"/>

   </message>

   <message name="getResultsResponse">

      <part name="getResultsReturn" type="apachesoap:Map"/>

   </message>

   <message name="getStartedRequest">

      <part name="jobID" type="soapenc:string"/>

   </message>

   <message name="createAndRunResponse">

      <part name="createAndRunReturn" type="soapenc:string"/>

   </message>

   <message name="getElapsedRequest">

      <part name="jobID" type="soapenc:string"/>

   </message>

   <message name="getLastEventResponse">

      <part name="getLastEventReturn" type="soapenc:string"/>

   </message>

   <message name="getCreatedResponse">

      <part name="getCreatedReturn" type="xsd:long"/>

   </message>

   <message name="createAndRunNotifiableResponse">

      <part name="createAndRunNotifiableReturn" type="soapenc:string"/>

   </message>

   <message name="runNotifiableResponse">

   </message>

   <message name="getResultsRequest">

      <part name="jobID" type="soapenc:string"/>

   </message>

   <message name="runAndWaitForResponse">

      <part name="runAndWaitForReturn" type="apachesoap:Map"/>

   </message>

   <message name="createJobResponse">

      <part name="createJobReturn" type="soapenc:string"/>

   </message>

   <portType name="AnalysisWSAppLabImpl">

      <operation name="run" parameterOrder="jobID">

         <input message="impl:runRequest" name="runRequest"/>

         <output message="impl:runResponse" name="runResponse"/>

         <fault message="impl:SoaplabException" name="SoaplabException"/>

      </operation>

      <operation name="destroy" parameterOrder="jobID">

         <input message="impl:destroyRequest" name="destroyRequest"/>

         <output message="impl:destroyResponse" name="destroyResponse"/>

         <fault message="impl:SoaplabException" name="SoaplabException"/>

      </operation>

      <operation name="terminate" parameterOrder="jobID">

         <input message="impl:terminateRequest" name="terminateRequest"/>

         <output message="impl:terminateResponse" name="terminateResponse"/>

         <fault message="impl:SoaplabException" name="SoaplabException"/>

      </operation>

      <operation name="getStatus" parameterOrder="jobID">

         <input message="impl:getStatusRequest" name="getStatusRequest"/>

         <output message="impl:getStatusResponse" name="getStatusResponse"/>

         <fault message="impl:SoaplabException" name="SoaplabException"/>

      </operation>

      <operation name="waitFor" parameterOrder="jobID">

         <input message="impl:waitForRequest" name="waitForRequest"/>

         <output message="impl:waitForResponse" name="waitForResponse"/>

         <fault message="impl:SoaplabException" name="SoaplabException"/>

      </operation>

      <operation name="describe">

         <input message="impl:describeRequest" name="describeRequest"/>

         <output message="impl:describeResponse" name="describeResponse"/>

         <fault message="impl:SoaplabException" name="SoaplabException"/>

      </operation>

      <operation name="getInputSpec">

         <input message="impl:getInputSpecRequest" name="getInputSpecRequest"/>

         <output message="impl:getInputSpecResponse" name="getInputSpecResponse"/>

         <fault message="impl:SoaplabException" name="SoaplabException"/>

      </operation>

      <operation name="getResultSpec">

         <input message="impl:getResultSpecRequest" name="getResultSpecRequest"/>

         <output message="impl:getResultSpecResponse" name="getResultSpecResponse"/>

         <fault message="impl:SoaplabException" name="SoaplabException"/>

      </operation>

      <operation name="getAnalysisType">

         <input message="impl:getAnalysisTypeRequest" name="getAnalysisTypeRequest"/>

         <output message="impl:getAnalysisTypeResponse" name="getAnalysisTypeResponse"/>

         <fault message="impl:SoaplabException" name="SoaplabException"/>

      </operation>

      <operation name="createJob" parameterOrder="inputs">

         <input message="impl:createJobRequest" name="createJobRequest"/>

         <output message="impl:createJobResponse" name="createJobResponse"/>

         <fault message="impl:SoaplabException" name="SoaplabException"/>

      </operation>

      <operation name="runNotifiable" parameterOrder="jobID notificationDescriptor">

         <input message="impl:runNotifiableRequest" name="runNotifiableRequest"/>

         <output message="impl:runNotifiableResponse" name="runNotifiableResponse"/>

         <fault message="impl:SoaplabException" name="SoaplabException"/>

      </operation>

      <operation name="createAndRun" parameterOrder="inputs">

         <input message="impl:createAndRunRequest" name="createAndRunRequest"/>

         <output message="impl:createAndRunResponse" name="createAndRunResponse"/>

         <fault message="impl:SoaplabException" name="SoaplabException"/>

      </operation>

      <operation name="createAndRunNotifiable" parameterOrder="inputs notificationDescriptor">

         <input message="impl:createAndRunNotifiableRequest" name="createAndRunNotifiableRequest"/>

         <output message="impl:createAndRunNotifiableResponse" name="createAndRunNotifiableResponse"/>

         <fault message="impl:SoaplabException" name="SoaplabException"/>

      </operation>

      <operation name="runAndWaitFor" parameterOrder="inputs">

         <input message="impl:runAndWaitForRequest" name="runAndWaitForRequest"/>

         <output message="impl:runAndWaitForResponse" name="runAndWaitForResponse"/>

         <fault message="impl:SoaplabException" name="SoaplabException"/>

      </operation>

      <operation name="getLastEvent" parameterOrder="jobID">

         <input message="impl:getLastEventRequest" name="getLastEventRequest"/>

         <output message="impl:getLastEventResponse" name="getLastEventResponse"/>

         <fault message="impl:SoaplabException" name="SoaplabException"/>

      </operation>

      <operation name="getNotificationDescriptor" parameterOrder="jobID">

         <input message="impl:getNotificationDescriptorRequest" name="getNotificationDescriptorRequest"/>

         <output message="impl:getNotificationDescriptorResponse" name="getNotificationDescriptorResponse"/>

         <fault message="impl:SoaplabException" name="SoaplabException"/>

      </operation>

      <operation name="getCreated" parameterOrder="jobID">

         <input message="impl:getCreatedRequest" name="getCreatedRequest"/>

         <output message="impl:getCreatedResponse" name="getCreatedResponse"/>

         <fault message="impl:SoaplabException" name="SoaplabException"/>

      </operation>

      <operation name="getStarted" parameterOrder="jobID">

         <input message="impl:getStartedRequest" name="getStartedRequest"/>

         <output message="impl:getStartedResponse" name="getStartedResponse"/>

         <fault message="impl:SoaplabException" name="SoaplabException"/>

      </operation>

      <operation name="getEnded" parameterOrder="jobID">

         <input message="impl:getEndedRequest" name="getEndedRequest"/>

         <output message="impl:getEndedResponse" name="getEndedResponse"/>

         <fault message="impl:SoaplabException" name="SoaplabException"/>

      </operation>

      <operation name="getElapsed" parameterOrder="jobID">

         <input message="impl:getElapsedRequest" name="getElapsedRequest"/>

         <output message="impl:getElapsedResponse" name="getElapsedResponse"/>

         <fault message="impl:SoaplabException" name="SoaplabException"/>

      </operation>

      <operation name="getCharacteristics" parameterOrder="jobID">

         <input message="impl:getCharacteristicsRequest" name="getCharacteristicsRequest"/>

         <output message="impl:getCharacteristicsResponse" name="getCharacteristicsResponse"/>

         <fault message="impl:SoaplabException" name="SoaplabException"/>

      </operation>

      <operation name="getResults" parameterOrder="jobID">

         <input message="impl:getResultsRequest" name="getResultsRequest"/>

         <output message="impl:getResultsResponse" name="getResultsResponse"/>

         <fault message="impl:SoaplabException" name="SoaplabException"/>

      </operation>

      <operation name="getSomeResults" parameterOrder="jobID resultNames">

         <input message="impl:getSomeResultsRequest" name="getSomeResultsRequest"/>

         <output message="impl:getSomeResultsResponse" name="getSomeResultsResponse"/>

         <fault message="impl:SoaplabException" name="SoaplabException"/>

      </operation>

   </portType>

   <binding name="nucleic_transcription.tfscanSoapBinding" type="impl:AnalysisWSAppLabImpl">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <operation name="run">

         <wsdlsoap:operation soapAction=""/>

         <input name="runRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://applab.SoaplabServer.ebi.embl.org" use="encoded"/>

         </input>

         <output name="runResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </output>

         <fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </fault>

      </operation>

      <operation name="destroy">

         <wsdlsoap:operation soapAction=""/>

         <input name="destroyRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://applab.SoaplabServer.ebi.embl.org" use="encoded"/>

         </input>

         <output name="destroyResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </output>

         <fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </fault>

      </operation>

      <operation name="terminate">

         <wsdlsoap:operation soapAction=""/>

         <input name="terminateRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://applab.SoaplabServer.ebi.embl.org" use="encoded"/>

         </input>

         <output name="terminateResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </output>

         <fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </fault>

      </operation>

      <operation name="getStatus">

         <wsdlsoap:operation soapAction=""/>

         <input name="getStatusRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://applab.SoaplabServer.ebi.embl.org" use="encoded"/>

         </input>

         <output name="getStatusResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </output>

         <fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </fault>

      </operation>

      <operation name="waitFor">

         <wsdlsoap:operation soapAction=""/>

         <input name="waitForRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://applab.SoaplabServer.ebi.embl.org" use="encoded"/>

         </input>

         <output name="waitForResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </output>

         <fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </fault>

      </operation>

      <operation name="describe">

         <wsdlsoap:operation soapAction=""/>

         <input name="describeRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://applab.SoaplabServer.ebi.embl.org" use="encoded"/>

         </input>

         <output name="describeResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </output>

         <fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </fault>

      </operation>

      <operation name="getInputSpec">

         <wsdlsoap:operation soapAction=""/>

         <input name="getInputSpecRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://applab.SoaplabServer.ebi.embl.org" use="encoded"/>

         </input>

         <output name="getInputSpecResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </output>

         <fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </fault>

      </operation>

      <operation name="getResultSpec">

         <wsdlsoap:operation soapAction=""/>

         <input name="getResultSpecRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://applab.SoaplabServer.ebi.embl.org" use="encoded"/>

         </input>

         <output name="getResultSpecResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </output>

         <fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </fault>

      </operation>

      <operation name="getAnalysisType">

         <wsdlsoap:operation soapAction=""/>

         <input name="getAnalysisTypeRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://applab.SoaplabServer.ebi.embl.org" use="encoded"/>

         </input>

         <output name="getAnalysisTypeResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </output>

         <fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </fault>

      </operation>

      <operation name="createJob">

         <wsdlsoap:operation soapAction=""/>

         <input name="createJobRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://applab.SoaplabServer.ebi.embl.org" use="encoded"/>

         </input>

         <output name="createJobResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </output>

         <fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </fault>

      </operation>

      <operation name="runNotifiable">

         <wsdlsoap:operation soapAction=""/>

         <input name="runNotifiableRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://applab.SoaplabServer.ebi.embl.org" use="encoded"/>

         </input>

         <output name="runNotifiableResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </output>

         <fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </fault>

      </operation>

      <operation name="createAndRun">

         <wsdlsoap:operation soapAction=""/>

         <input name="createAndRunRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://applab.SoaplabServer.ebi.embl.org" use="encoded"/>

         </input>

         <output name="createAndRunResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </output>

         <fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </fault>

      </operation>

      <operation name="createAndRunNotifiable">

         <wsdlsoap:operation soapAction=""/>

         <input name="createAndRunNotifiableRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://applab.SoaplabServer.ebi.embl.org" use="encoded"/>

         </input>

         <output name="createAndRunNotifiableResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </output>

         <fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </fault>

      </operation>

      <operation name="runAndWaitFor">

         <wsdlsoap:operation soapAction=""/>

         <input name="runAndWaitForRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://applab.SoaplabServer.ebi.embl.org" use="encoded"/>

         </input>

         <output name="runAndWaitForResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </output>

         <fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </fault>

      </operation>

      <operation name="getLastEvent">

         <wsdlsoap:operation soapAction=""/>

         <input name="getLastEventRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://applab.SoaplabServer.ebi.embl.org" use="encoded"/>

         </input>

         <output name="getLastEventResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </output>

         <fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </fault>

      </operation>

      <operation name="getNotificationDescriptor">

         <wsdlsoap:operation soapAction=""/>

         <input name="getNotificationDescriptorRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://applab.SoaplabServer.ebi.embl.org" use="encoded"/>

         </input>

         <output name="getNotificationDescriptorResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </output>

         <fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </fault>

      </operation>

      <operation name="getCreated">

         <wsdlsoap:operation soapAction=""/>

         <input name="getCreatedRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://applab.SoaplabServer.ebi.embl.org" use="encoded"/>

         </input>

         <output name="getCreatedResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </output>

         <fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </fault>

      </operation>

      <operation name="getStarted">

         <wsdlsoap:operation soapAction=""/>

         <input name="getStartedRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://applab.SoaplabServer.ebi.embl.org" use="encoded"/>

         </input>

         <output name="getStartedResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </output>

         <fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </fault>

      </operation>

      <operation name="getEnded">

         <wsdlsoap:operation soapAction=""/>

         <input name="getEndedRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://applab.SoaplabServer.ebi.embl.org" use="encoded"/>

         </input>

         <output name="getEndedResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </output>

         <fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </fault>

      </operation>

      <operation name="getElapsed">

         <wsdlsoap:operation soapAction=""/>

         <input name="getElapsedRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://applab.SoaplabServer.ebi.embl.org" use="encoded"/>

         </input>

         <output name="getElapsedResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </output>

         <fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </fault>

      </operation>

      <operation name="getCharacteristics">

         <wsdlsoap:operation soapAction=""/>

         <input name="getCharacteristicsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://applab.SoaplabServer.ebi.embl.org" use="encoded"/>

         </input>

         <output name="getCharacteristicsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </output>

         <fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </fault>

      </operation>

      <operation name="getResults">

         <wsdlsoap:operation soapAction=""/>

         <input name="getResultsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://applab.SoaplabServer.ebi.embl.org" use="encoded"/>

         </input>

         <output name="getResultsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </output>

         <fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </fault>

      </operation>

      <operation name="getSomeResults">

         <wsdlsoap:operation soapAction=""/>

         <input name="getSomeResultsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://applab.SoaplabServer.ebi.embl.org" use="encoded"/>

         </input>

         <output name="getSomeResultsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </output>

         <fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan" use="encoded"/>

         </fault>

      </operation>

   </binding>

   <service name="AnalysisWSAppLabImplService">

      <port binding="impl:nucleic_transcription.tfscanSoapBinding" name="nucleic_transcription.tfscan">

         <wsdlsoap:address location="http://www.ebi.ac.uk/soaplab/emboss4/services/nucleic_transcription.tfscan"/>

      </port>

   </service>

</definitions>